# App
NODE_ENV=development
APP_NAME=Naija Power Bot

# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/naija-power-bot

# Bot
SESSION_DIR=auth_info
REPORT_EXPIRY_HOURS=6